
html{
  z-index: 0;
  outline: none;
}
.row {
  padding-right: 0px !important;
  margin-right: 0px !important;
}
div{
  
  padding: 0 !important;
  width: 100%;
}
  #skills1, #skills2{
  width: 500x;
  height: 500px;

  object-fit:scale-down;
} 
#text{
  font-family: Georgia, serif;
}
#foot{
  background-image: url("./assets/footer.jpg");
  height:50vh;
}
#footMobile{
  background-image: url("./assets/footer.jpg");
  height:100vh;
}
hr{
  color:"#FFFFFF";
  border-color: "#FFFFFF"
}
/* #Experience{
  background-image: url("./assets/footer.jpg")
} */
#img{
  height: 100%
}
#img1{
  height: 100%;
  position: relative;

}
.border-left{
  width: 50px;
}
#skillsTree{
  position: absolute;
  z-index: 50;
}
#skillsCode{
  position: absolute;
  z-index: 50;
}
#skillsCode1{
  
  z-index: 75;
}
#skillsCodeImg{
 
  background-color: #ffffff
}
#skills1{
 position: relative;

}
#skills2{
  position: relative;
}
html{
  z-index: -1;
}
headImg{
  z-index: -5;
  position: fixed;
}
#headHead{
  height: 50vh;
  width: 100vh;
  background-image: url("./assets/Header.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 25;
  background-attachment: fixed;
}
#headHeadMobile{
  height: 100vh;
  background-image: url("./assets/Header.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 25;
  background-attachment: fixed;
}

 #About{
  height: 50vh;
  vertical-align: top;
  
} 
#AboutMobile{
 
  vertical-align: top;
  
} 

hr {
  height: 1px;
  color: #ffffff;
  background-color: #ffffff;
  border: none;
  }
#codeText{
  color: #204056
}
/* #expImg{
  width: 64x;
  height: 64px;

  object-fit:scale-down;
} */
.bg-darker{
  background-color: white;
}
.navtext{
  color: #4C656F;
}
.oval {

  border-radius: 10%;
}
/* star background */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}




.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:-2;
background-repeat: repeat-y;

}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:-1;
height: 100%;
width:100%;
-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
div:focus,
div:active,
div:hover,
.navbutts,
{
    outline:0px !important;
    -webkit-appearance:none;
}
.btn,
button,
textarea,
input,
div,
{
  outline:0px !important;
  -webkit-appearance:none;
}